<ion-header [translucent]="true">
  <ion-title>
    Generations of Computers
  </ion-title>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div id="container">
      <ion-button (click)="forwardButtonClickHandler()">Next Video</ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">GewnerationsOfComputers</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <img src="assets/generations-of-computers.jpg" alt="Example Image">
  <p>Tenderloin drumstick corned beef meatball beef ribs chislic chicken beef spare ribs. Bresaola meatball frankfurter pastrami strip steak shoulder venison capicola. Filet mignon swine flank, shoulder pork belly ham hock hamburger. Frankfurter chuck t-bone sausage, cow porchetta ribeye spare ribs. Burgdoggen flank kevin, beef bacon landjaeger turducken salami short loin turkey prosciutto venison pork loin shank. Prosciutto pork chop picanha chuck, filet mignon ball tip pig swine beef ribs porchetta capicola short loin meatball short ribs. Ground round pastrami shankle tail filet mignon leberkas ham hock, tri-tip porchetta bacon cow drumstick spare ribs</p>
</ion-content>
