<ion-header [translucent]="true">
  <ion-title>
    Types of Computers
  </ion-title>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">TypesOfComputers</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <img src="assets/types-of-computers.jpg" alt="Example Image">
  <p>Shank sirloin chislic ribeye, venison chicken beef bacon swine pancetta shoulder. Pork shank flank ground round, brisket beef ribs chislic pastrami ham jowl. Pork chop burgdoggen ham hock buffalo meatball pig frankfurter doner jerky filet mignon pancetta shankle short loin ground round fatback. Kevin ribeye kielbasa chicken rump ham, jerky spare ribs short loin biltong shankle alcatra frankfurter. Shoulder fatback chislic cupim tenderloin. Pork pancetta short loin chislic sausage meatloaf. Swine sausage t-bone turducken beef kevin beef ribs jowl shankle picanha bresaola venison burgdoggen.</p>
</ion-content>
