<ion-header [translucent]="true">
  <ion-title>
    History of Computers
  </ion-title>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <div id="container">
      <ion-button (click)="forwardButtonClickHandler()">Next Video</ion-button>
    </div>

  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">HistoryOfComputers</ion-title>
    </ion-toolbar>
    
  </ion-header>
  <img src="assets/history-of-computers.jpg" alt="Example Image">
  <p>Bacon ipsum dolor amet tri-tip porchetta t-bone strip steak beef ribs. Shoulder swine porchetta pork belly. Pork chop ground round prosciutto, pancetta turkey filet mignon tenderloin cow buffalo chislic leberkas ham. Tenderloin chuck kielbasa doner short ribs burgdoggen shankle salami turkey andouille alcatra. Kevin tail beef ribs, bacon meatball ball tip turducken pork chop corned beef shank. Brisket ribeye porchetta kielbasa shankle short ribs meatloaf biltong andouille, t-bone short loin landjaeger doner. Short loin leberkas capicola, ribeye pork loin chislic pig tail pancetta chuck beef ribs shank.</p>
</ion-content>
